<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
			<!-- nav -->
			<nav class="nav-primary hidden-xs">
				<ul class="nav">
					<li class="menuitem"><a href="/ProductGroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه محصولات</span></a></li>
					<li class="menuitem"><a href="/Products"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت محصولات</span></a></li>
					<li class="menuitem"><a href="/Sliders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر اسلایدر</span></a></li>
					
					<li class="menuitem"><a href="/SiteBlogCategories"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه مقالات</span></a></li>
					<li class="menuitem"><a href="/SiteBlogs"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت مقالات</span></a></li>
					<li class="menuitem"><a href="/Videos"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت ویدیو ها</span></a></li>
					 
					
					<li class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>
					<li class="menuitem"><a href="/orders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت سفارشات</span></a></li>

				</ul>
			</nav>
		</div>
	</section>
</section>
